
body{
    background-color: rgb(140, 151, 151);
    margin-top: 0px;
    margin: 0px;
    
}

header{
    background-color: #ffffff;
    padding: 0px;
    margin-top: 0px;
    border: 0px;
    position: fixed;
    width: 100%;
    height: 100px;
}

.busqueda{
    background-color: #ffffff;
    color: blue;
    /*margin-top: 2px;
    margin: 1px;*/
}

.redes .busqueda {
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(52, 117, 190);
    display: inline-block;
}

.titulo {
    text-align: center;
    color: #0b1277;
    margin: 100px 400px;
    background-color: #ffffff;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black 3px solid;
    }

.informacion {
    margin: 50px 70px; /*1100px 50px 70px;*/
    font-size: 38px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.imgmc, .informacion {
    display: inline-block;

}

.informacion1 {
    margin: 10px 100px;
    text-align: justify;
}

.tsciencia, .informacion2 {
    display: inline-block;
}

/*.tsciencia, {
    height: 20%;
}*/

.informacion2 {
    margin: 50px 120px;/*1100px 50px 70px;*/
    color: black;
    text-align: center;
}

.line {
    box-shadow: 5px 3px 3px #000000;
    margin: 50px 120px;
}

.texto1 {
    text-align: center;
    color: #181c53;
    font-weight: bold;
    margin: 50px 200px;
    background-color:rgb(140, 151, 151);
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black 2px solid;
    
    }

.tpp{
    text-align: center;
}
.pairp, .informacion3 {
    display: inline-flexbox;
    margin: 50px 100px;
}
.informacion3 {
    color: black;
    text-align: justify;
}

.lp, .informacion4 {
    display: inline-block;
    
}

.lp {
    text-align: right;
    margin: 50px 100px;
}

.informacion4 {
    margin: 50px 100px;/*1100px 50px 70px;*/
    color: black;
    text-align: justify;
}