
body{
    background-color: rgb(140, 151, 151);
    margin-top: 0px;
    margin: 0px;
    
}

header{
    background-color: #ffffff;
    padding: 0px;
    margin-top: 0px;
    border: 0px;
    position: fixed;
    width: 100%;
    height: 100px;
    

}

.busqueda{
    background-color: #ffffff;
    color: blue;
    margin-left: 100px!important;
    vertical-align: middle;
    /*margin-top: 2px;
    margin: 1px;*/
}

.redes {
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(52, 117, 190);
    display: flex;
    align-items: center;
    text-align: justify;
}
.redes1 {
    margin-left: 100px!important;
    
}
.nav{
  float: left; 
  list-style: none;
  padding: 0px 0px;
  margin: 0px;
  background-color: rgb(27, 0, 88);
  width: 100%;
  
  

}
 
nav ul {
  line-height: 0%;
  
  list-style: none;
  display: table;
  background-color: rgb(27, 0, 88);
  padding: 0px;
  margin: 0px;
  

}
 
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16x;
  
}
 
nav a {
  display: block; 
  padding: 25px 2cm;
  color: rgb(153, 146, 146);
  text-decoration: none;
}
 
nav a:hover {
  background: #303b50;
  color: #fff;
  font-weight: bold;
  display: block;
}

nav li ul li{
    
    position: absolute;
    float: left;
    display: block;
    weight: 400%;

}

.titulo {
    text-align: center;
    color: #0b1277;
    margin: 100px 400px;
    background-color: #ffffff;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black 3px solid;
    }

.informacion {
    margin: 50px 70px; /*1100px 50px 70px;*/
    font-size: 38px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.imgmc, .informacion {
    display: inline-block;

}

.informacion1 {
    margin: 10px 100px;
    text-align: justify;
}

.tsciencia, .informacion2 {
    display: inline-block;
}

/*.tsciencia, {
    height: 20%;
}*/

.informacion2 {
    margin: 50px 120px;/*1100px 50px 70px;*/
    color: black;
    text-align: center;
}

.line {
    box-shadow: 5px 3px 3px #000000;
    margin: 50px 120px;
}

.texto1 {
    text-align: center;
    color: #181c53;
    font-weight: bold;
    margin: 50px 200px;
    background-color:rgb(140, 151, 151);
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black 2px solid;
    
    }

.tpp{
    text-align: center;
    margin: 50px 100px;

}



/*.pairp, .informacion3 {
    display: inline-flexbox;
}
.informacion3 {
    color: black;
    text-align: justify;
}

.lp, .informacion4 {
    display: inline-block;
    
}

.lp {
    text-align: right;
    margin: 50px 100px;
}

.informacion4 {
    margin: 50px 100px;/*1100px 50px 70px;
    color: black;
    text-align: justify;
}*/


.informacion4, .informacion3, .informaciontitulo{
    text-align: justify;
    margin: 100px;
}

.pairp, .lp{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;

}


.lenguajes {
margin: 100px;
text-align: center;

}

.logopage {
    margin-top: 180px;
    margin-left: 550px;
    margin-right: 550px;
    padding-top: 5px;
    text-align: center;
    background-color: rgb(236, 236, 236);

}

.informacionptitulo {
    text-align: center;
}
